body{
    /* see issue  about image*/
    background-image: url("../images/Julia.jpeg"); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  h1{
    /*space around an element-magin*/
    background:linear-gradient(to right,skyblue, lightyellow);
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 5px;
    margin: 20px;
  }  
  p{
    background-color:  rgb(230, 206, 176);
    padding: 20px;
    margin: 20px;
  }

}