body{
    /* see issue  about image*/
    background-image: url("Julia.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  h1{
    /*space around an element*/
    background:linear-gradient(to right,skyblue, lightyellow);
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 5px;
    margin: 20px;
  }  
  p{
    background-color:  rgb(233, 233, 233);
    padding: 20px;
    margin: 20px;
  }

}