*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 30px;
}

.grid-container{
    display: grid;
    /* grid-template-columns: 2fr 1fr;
     grid-template-columns: 100px 150px;
    */
    grid-template-columns: repeat(5, 100px);
    height: 100vh;
    border: 10px solid red;
}
.grid-item{
background-color: bisque;
border: 4px solid lightcoral;
padding: 20px;
}