body {

    background-color: beige;
    padding: 0 120px;
    font-family: Poppins;
}
p{
   font-size: 1em; 
   font-family: Poppins;

}

.myname {
    font-size: 120px;
    color: rgb(142, 54, 83);
    font-family: Poppins;
    text-align: left;
}

.myphotop {
    text-align: right;
    padding-right:8em;
    margin-top: -7em;
    
}

.myprofession {
    font-family: poppins;
    font-size: 1.5em;

}
.behancebtnhr{
    margin: 1em 0em 0em 0em;
}

.behancebtn,
a:visited {
    background-color: #25a186;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 1em 0em 1em 0em;
}

a:hover,
a:active {
    background-color: 1d7948;
}