html, body {
    margin: 0;
    padding: 0;
}

:root {
    --black: #000000;
    --red: #DE0002;
    --yellow: #FFCE00;
    --flag-height: 200px;
}
.container{
    height: var(--flag-height);
    width: calc(var(--flag-height) * 5/3);
    margin: 30px auto;
    /*display: grid; */
    display: flex;   
    flex-direction: column;
}
.color{
   flex-grow: 1;
}
.Black{
background-color: var(--black);
}
.red{
    background-color: var(--red);
}
.yellow{
    background-color: var(--yellow);
}