
:root{
    --spoiler-color:  black;
}

p {
    line-height: 1.5em;
  } 
  
.heading{
    text-align: center;
}

  .post{
    background-color: lightgrey;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    font-weight: bold;
  }
  
  .spoiler{
    background-color: var(--spoiler-color);
    color: var(--spoiler-color);
  }
  
  .spoiler:hover{
    transition: all .7s ease-in;
    background-color: initial;
    background: initial;
  }
