
.urbanist- uniquifier {
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
  html, body{
      margin: 0;
      padding: 0;
      font-family: 'Urbanist', sans-serif;
      
  }
  :root{
     
      --color1: #669F39;
      --color2: #1A3B01;
      --search: #F4F5FB;
  }
  .container{
    background-color: var(--color2);
    z-index: -1000;
       
  }
  nav{
      display: flex;
      background-color: white;
     /* height: 117px;*/
      justify-content: center;
      align-items: center;
   z-index: 1000;  
    
  }
  .hide {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    .Search-box{
      padding: 2em;
      width: 70%;
      min-width: 320px;
      border: none;
      
    }
    .search-bar {
      width: 30%;
      line-height: 2;
      border-radius: 20px;
      background-color: var(--search);
      border: none;
      height: 40px;
      padding: 12px;
  }
  .search-bar:focus {
      width: 60%; 
      border: none;
      outline: none;
  }
  .search-bar::placeholder {
      padding: 12px;
      border: none;
  }
  
  .search-bar:focus::placeholder {
      padding: 12px;
      color: transparent;
      border: none;
  }
  .logo{
      margin-left: 40px;
      padding: 5px 15px;
  }
  .tabs{
  
    /*  background-color:rgb(255, 188, 105); 
      opacity: 0.9;*/
  }
  ul{ 
      display: flex;
  }
  ul li{
      padding: 0 5px;
      list-style: none; 
       width: 100px;
      font-size: 20px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      vertical-align: middle;
      margin: 0 5px;
      z-index: 2000;
  }
  li a{
      color: var(--color2);
      text-decoration: none;
     /* display: block;*/
  }
  ul li ul li{
      display: none;
  
      
  }
  ul .col{
   flex-direction: column; 
  }
  ul li:hover ul li{
      display:flex;
  }
  .header{
  margin-left: 72px;   
  margin-right: 72px;
  display:flex;
  }
  .plant-img{
     object-fit: cover;
     
      width: 100%;
      object-position: center ;
      height: 100vh;
  }
  .header-content{
      width: 100%;
      margin: 0 auto;
      /*background-color: #F4F5FB;
      justify-content: center;*/
      align-items: center;
      display:  flex;
      min-height: 100vh;
      background-color: #F1F1F2;
      z-index: 1;
  }
  .header-row{
      padding:50px 10% 0 10%;    
  }
  h1{
      color: var(--color2);
      font-size: 48px;
      font-weight: bold;
      
  }
  p{
      font-size: 24px;
  }
  /*.img-container{
      width:30%;
      border: 1px solid rgb(0, 255, 213);
  }*/
  /*
  
  */