.unna-regular {
  font-family: "Unna", serif;
  font-weight: 400;
  font-style: normal;
}

.unna-bold {
  font-family: "Unna", serif;
  font-weight: 700;
  font-style: normal;
}

.unna-regular-italic {
  font-family: "Unna", serif;
  font-weight: 400;
  font-style: italic;
}

.unna-bold-italic {
  font-family: "Unna", serif;
  font-weight: 700;
  font-style: italic;
}


* {
  box-sizing: border-box;
  font-family: 'unna', serif;
  border: none;
}

body {
  border-color: 3px solid black;
  background-image: linear-gradient(to top,  rgb(111, 0, 255), rgb(25, 0, 51));
  background-repeat: no-repeat;
}

.container {
  background-color: rgb(255, 255, 255);
  width: 50%;
  height:100vh;
  padding: 15px;
  border-radius: 25px;
  font-size: 24px;

}

input[type='text'], input[type='password'] {
  width: 650px;
  padding: 15px;
  margin: 10px;
  background-color: rgb(231, 231, 231);
  border-radius: 5px;
  border: none;
  font-family: 'unna', serif;
  font-size: 20px;
  justify-content: center;
  display: inline-block;
  align-items: center;
  align-content: center;
  text-align:justify;
  
}

h1 {
  text-align: center;
  color: rgb(0, 0, 0);
  margin: 100px;
}



.login{
  background-color: rgb(111, 0, 255);
  margin: 50%;
  padding: 15px;
  cursor: pointer;
  width: 600px;
  color: white;
  margin: 20px;
  border-radius: 7px;
  text-transform: uppercase;
  display:inline-block;
  box-shadow: 3px 3px 7px 0px rgba(0, 0, 0, 0.204);
  font-size: 20px;
  justify-content: center;
}
footer{
  font-size:medium ;
  text-align: center;
}
footer .signup{
  color: rgb(111, 0, 255);
  font-size:medium ;
}